<div class="page-generale">
  <app-menu></app-menu>
  <div class="container">
    <div class="header-top">
      <span class="title-service">Connexion</span>
      <div class="part-input-search">
        <mat-icon  class="icon-password" fontSet="material-icons-outlined">search</mat-icon>
        <input type="text" placeholder="Rechercher">
      </div>
      <div class="info-user">
        <div class="notif" style="margin-top: 4px">
          <img src="assets/icon/menu/blanc/notification.svg" alt="">
          <span [class]="theme.bgColor+' counter-notif'">11</span>
        </div>
        <img src="assets/icon/menu/blanc/historique.svg" alt="">
        <img src="assets/icon/menu/blanc/support-left.svg" alt="">
      </div>
    </div>
  </div>
</div>
